/* Background */
.main {
    width: 100%;
    height: 100%;
    background-image: url(/static/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
/*font */
.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }


/* nav */
nav .navbar-brand {
    font-family: "Sofia", sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ababab;
}

nav .nav-item {
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ababab;
}

#password {
    color: #5F9EA0;
    text-decoration: none;
}

/* footer position */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    
}

/*Header box */
.header{
    background-color: #1E2A5E;
    color: #FEFAE0;
    height: 400px;
    width: auto;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}
/*container */
/*.box2 {
    background-color: rgba(247, 239, 229,.5);
    color: #fff;
  }
*/
.index-container{
    display: grid;
    grid-template-areas: 
       'header header header step step step step step step step'
       'header header header step step step step step step step'
       'header header header step step step step step step step'
       'header header header job job job job job job job'
       'header header header job job job job job job job';
    gap: 20px;
}
.item-1{
    background-color: #1E2A5E;
    color: #FEFAE0;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    grid-area: header;
}
#wwhale{
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-2{
    background-color: #1E2A5E;
    color: #fff;
    opacity: .5;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: justify;
    grid-area: step;
}
.item-3{
    background-color: #1E2A5E;
    color: #fff;
    opacity: .5;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: left;
    grid-area: job;
}

/*MBTI pages*/
.header-text{
    font-family: "Sofia", sans-serif;
    font-size: 80px;
    text-shadow: 8px 8px 8px #ababab;
    color: #0f1530;
}
.mbti-img{
    float: right;
    height: 250px;
    width: auto;
}

/*MBTI test */
.quiz-box{
    background-color: bisque;
    width: auto;
    height: fit-content;
    gap: 20px;
}

.quiz-box .question{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f1530;
    text-align: center;
}
