/* Background */
.main {
    width: 100%;
    height: 100%;
    background-image: url(/static/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
/*font */
.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }


/* nav */
nav .navbar-brand {
    font-family: "Sofia", sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 3px #ababab;
}

nav .nav-item {
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px #ababab;
}

#password {
    color: #5F9EA0;
    text-decoration: none;
}

/* footer position */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    
}

/*Header box */
.header{
    background-color: #1E2A5E;
    color: #FEFAE0;
    height: 400px;
    width: auto;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}
/*container */
/*.box2 {
    background-color: rgba(247, 239, 229,.5);
    color: #fff;
  }
*/
.index-container{
    display: grid;
    grid-template-areas: 
       'header header header step step step step step step step'
       'header header header step step step step step step step'
       'header header header step step step step step step step'
       'header header header job job job job job job job'
       'header header header job job job job job job job';
    gap: 20px;
}
.item-1{
    background-color: #1E2A5E;
    color: #FEFAE0;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    grid-area: header;
}
#wwhale{
    padding-top: 30px;
    padding-bottom: 30px;
}

.item-2{
    background-color: #1E2A5E;
    color: #fff;
    opacity: .5;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: justify;
    grid-area: step;
}
.item-3{
    background-color: #1E2A5E;
    color: #fff;
    opacity: .5;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: left;
    grid-area: job;
}

/*MBTI pages*/
.header-text{
    font-family: "Sofia", sans-serif;
    font-size: 80px;
    text-shadow: 8px 8px 8px #ababab;
    color: #0f1530;
}

.header-note {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px #ababab;
    color: #0f1530;
}
.mbti-img{
    float: right;
    height: 250px;
    width: auto;
}

/*MBTI test */
.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.quiz-box1{
    background-image: url(https://media.istockphoto.com/id/91768525/photo/starfield-with-flares.jpg?s=612x612&w=0&k=20&c=fpwjXzky1oKADNFoVQwcRwb1yJ5GPIzqpW9cIqc-ZgU=);
    color: beige;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}
.quiz-box2{
    background-image: url(https://media.istockphoto.com/id/596348958/photo/blue-nebula.jpg?s=612x612&w=0&k=20&c=7fDFdm0Hk0ctQQk7EwNv4WXjNhteVPlBRXYD8mA4FIU=);
    color: beige;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}
/*linear-gradient(to right, #1E2A5E, #5B99C2);*/

.question{
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

/* mbti test result pages */
.text-box {
    display: flex;
    justify-content: space-around;
}

.text-item {
    position: relative;
    text-decoration: none;
    padding: 10px;
    width: fit-content;
    border-radius: 10%;
    background-color: #1E2A5E;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
}

div ul {
    list-style: none;
}

.mbti-container {
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
    'info info info info job job job job job'
    'info info info info job job job job job'
    'info info info info job job job job job'
    'info info info info job job job job job'
    'who who who who job job job job job'
    'who who who who job job job job job'
    'who who who who job job job job job';
    gap: 15px;
}

.mbti-item1 {
    padding: 20px;
    background-color: beige;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    color: #1E2A5E;
    grid-area: info;
}

.mbti-item2 {
    padding: 20px;
    background-color: beige;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    color: #1E2A5E;
    grid-area: who;
}

.mbti-item3 {
    padding: 20px;
    background-color: beige;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    color: #1E2A5E;
    grid-area: job;
}


/* Customize the label (the container) */
.container .check-container {
    display: inline;
    position: relative;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .check-container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }