{% extends "layout.html" %}

{% block title %} Start {% endblock %}

{% block main %}
    <div class="header">
        <h1 class="handlee-regular">Oh, job!</h1>
        <h5 class="handlee-regular">"The whole secret of a successful life is to find out what is one's destiny to do, and then do it."</h3>
        <h5 class="handlee-regular">-- Henry Ford --</h3>
    </div>
    <div class="handlee-regular">
        <div class="container">
            <div class="item item-1">
                <h4>3 steps to find dream job</h4>
                <ol>
                    <li><h6>Understand yourself</h6></li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac...</p>
                    <li><h6>Understand the job</h6></li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac...</p>
                    <li><h6>Understand academic and the market</h6></li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac...</p>
                </ol>
            </div>
            <div class="item item-2">
                <h4>5 hottest jobs in Viet Nam</h4>
                <!-- a href link here-->
                <ol>
                    <li>IT and AI</li>
                    <li>Medical and Healthcare</li>
                    <li>Energy and Environmental</li>
                    <li>Data and Analist</li>
                    <li>E-commerce and Digital Marketing</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %} 