{% extends "layout.html" %}

{% block title %} Start {% endblock %}

{% block main %}
    <div class="index-container" class="handlee-regular">
        <div class="item item-1" class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <h1 class="handlee-regular">Oh, job!</h1>
            <h3 class="handlee-regular">"The whole secret of a successful life is to find out what is one's destiny to do, and then do it."</h3>
            <h3 class="handlee-regular">-- Henry Ford --</h3>
            <div id="wwhale"><img src="/static/wwhale.jpg" alt="wwhale"></div>
            <h3 class="handlee-regular">"If you swim with sharks, make sure you have the appetite of a whale."</h3>
        </div>
        <div class="item item-2">
            <h4 class="handlee-regular">3 steps to find dream job</h4>
            <ol>
                <li><h6 class="handlee-regular">Understand yourself</h6></li>
                <p class="handlee-regular">The most important thing when it comes to finding jobs is understand yourself: What do you like? What do you want to do? What is your passion? </p>
                <p class="handlee-regular">To answer these ques and know more about yourself, you can learn about the <a href="/mbti">MBTI test.</a></p>
                <li><h6 class="handlee-regular">Understand the job</h6></li>
                <p class="handlee-regular">The second thing is to understand the jobs that is related to your dream and passion.</p>
                <li><h6 class="handlee-regular">Understand academic and the market</h6></li>
                <p class="handlee-regular">As a highschool student, you may wonder "How can I get academic?", "Where can I learn about that dream job?", "What is the future of that job" or the market stuff.</p>
            </ol>
        </div>
        <div class="item item-3">
            <h4 class="handlee-regular">5 hottest jobs in Viet Nam</h4>
                <!-- a href link here-->
            <ol>
                <li class="handlee-regular">IT and AI</li>
                <li class="handlee-regular">Medical and Healthcare</li>
                <li class="handlee-regular">Energy and Environmental</li>
                <li class="handlee-regular">Data and Analist</li>
                <li class="handlee-regular">E-commerce and Digital Marketing</li>
            </ol>
        </div>
    </div>
{% endblock %} 