{% extends "layout.html" %}

{% block tiltle %} INTP {% endblock %}

{% block main %}
<div>
  <h1 class="header-text" style="text-align: left;">INTP</h1>
  <h3 class="header-note" style="text-align: left;">Nhà tư duy</h3>
</div>
<div>
  <ul class="text-box handlee-regular">
    <li class="text-item">I - Introversion</li>
    <li class="text-item">N - Intuition</li>
    <li class="text-item">T - Thinking</li>
    <li class="text-item">P - Percieving</li>
  </ul>
</div>
<div class="mtbi-container">
  <div class="mbti-item1">
    <h4>Short infomation</h4>
    <p>Họ thích những học thuyết và tin rằng mọi thứ đều có thể được phân tích và cải thiện, vì vậy học không quan tân đén thế giới trần tục và những điều thực tế khác - học nghĩ rằng nó ít thú vị hơn so với những ý tưởng hoặc hành trình theo đuổi kiến thức.</p>
  </div>
  <div class="mbti-item2">
    <h4>Nhóm ngành phù hợp</h4>
    <ol>
      <li>Nhóm ngành công nghệ IT: Phát triển phần mềm, nhà phát triển web</li>
      <li>Kỹ sư, kỹ thuật</li>
      <li>Khoa học: nhà khoa học, nhà tâm lý học, giáo sư tiến sĩ</li>
      <li>Kinh doanh và tài chính: Chuyên gia tài chính, kỹ sư bán hàng, nghiên cứu thị trường, ...</li>
      <li>Giải trí và nghệ thuật: Nhiếp ảnh, biên tập viên, nhạc sĩ, ...</li>
    </ol>
  </div>
  <div class="mbti-item3">
    <h4>Những INTP nổi tiếng</h4>  <!--Mỏe dynamic???-->
    <ol>
      <li>Albert Einstein</li> <!--add link for more infomation or alert--> <!--add images-->
      <li>Thomas Jefferson</li>
      <li>Charlies Darwin</li>
      <li>Bill Gates</li>
    </ol>
  </div>
</div>
{% endblock %}