{% extends "layout.html" %}

{% block tiltle %} INTP {% endblock %}

{% block main %}
<div>
    <h1 class="header-text" style="text-align: left;">INTP</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            I - Hướng nội
          </div>
          <div class="col">
            N - trực giác
          </div>
          <div class="col">
            T - lý trí
          </div>
          <div class="col">
            P - linh hoạt
          </div>
        </div>
    </div>
</div>


<div class="index-container" class="handlee-regular">
    <div class="item item-1" class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="handlee-regular">Short information</h1>
        <h3 class="handlee-regular">"..."</h3>
    </div>
    <div class="item item-2">
        <h4 class="handlee-regular">Celebs</h4>
        <ol>
            <li class="handlee-regular"><a href="/IT">IT and AI</a></li>
            <li class="handlee-regular"><a href="/medical">Medical and Healthcare</a></li>
            <li class="handlee-regular"><a href="/endergy">Energy and Environmental</a></li>
            <li class="handlee-regular"><a href="/data">Data and Analist</a></li>
            <li class="handlee-regular"><a href="/ecom">E-commerce and Digital Marketing</a></li>
        </ol>
    </div>
    <div class="item item-3">
        <h4 class="handlee-regular">Major</h4>
            <!-- a href link here-->
        <ol>
            <li class="handlee-regular"><a href="/IT">IT and AI</a></li>
            <li class="handlee-regular"><a href="/medical">Medical and Healthcare</a></li>
            <li class="handlee-regular"><a href="/endergy">Energy and Environmental</a></li>
            <li class="handlee-regular"><a href="/data">Data and Analist</a></li>
            <li class="handlee-regular"><a href="/ecom">E-commerce and Digital Marketing</a></li>
        </ol>
    </div>
</div>
{% endblock %}