{% extends "layout.html" %}

{% block title %} MBTI test {% endblock %}

{% block main %}
<!-- progress bar-->
<div>
    <h1 style="font-size: 60px; font-family: Sofia, sans-serif; color: rgb(1, 1, 86); text-shadow: 1px 1px 1px #ababab;">MBTI test</h1>
    <h5 style="font-family: Sofia, sans-serif;">Do the test to discover what kind of personality you are</h5>
</div>
<div class="quiz-container">
    <form class="quiz-box1">
        <h4 class="question">Ra quyết định sau khi cân nhắc suy nghĩ của mọi người</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Được mọi người cho là người có trí tưởng tượng và sáng tạo</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Ra quyết định liên quan tới con người dựa trên số liệu và phân tích khách quan</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Chỉ thực hiện công việc với người khác khi họ đã đồng ý chấp nhận các cam kết có liên quan</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Lặng lẽ, trầm tĩnh suy tính một mình</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Sử dụng các biện pháp đã biết rõ trong lý thuyết để thực hiện công việc</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Ra quyết định dựa trên các suy nghĩ, phân tích logic, không bị ảnh hưởng bởi cảm xúc</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Không muốn cam kết hạn chót hoàn thành công việc được giao</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Suy nghĩ kỹ trước khi nói</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Cân nhắc về các khả năng có thể xảy ra rồi mới giải quyết các vấn đề</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Mọi người đánh giá bạn là người công bằng, lý trí</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Suy nghĩ một thời gian dài trước khi ra quyết định giải quyết vấn đề</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>

    <form class="quiz-box1">
        <h4 class="question">Suy nghĩ nội tại và tình cảm, không để cho người ngoài nhìn thấy được suy nghĩ của mình</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn ưa thích các định nghĩa và khái niệm không rõ ràng</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn luôn giúp mọi người khám phá và hiểu họ cảm thấy như thế nào về sự vật/ sự việc</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn có xu hướng thay đổi và linh hoạt trong việc ra quyết định</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn ít khi nói ra bên ngoài hoặc thể hiện rất ít các suy nghĩ, dự tính của mình</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn tìm hiểu các cách nhìn khác nhau về sự kiện, vấn đề hay tình huống</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Sử dụng các giác quan và trải nghiệm cá nhân để ra quyết định</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Lên kế hoạch dài hạn dựa trên các số liệu để thực hiện công việc</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn có xu hướng thích gặp bạn mới</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn thiên về người có nhiều ý tưởng</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn ra quyết định dựa trên niềm tin cá nhân</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Sử dụng sổ tay ghi các ghi nhớ, cuộc hẹn, công việc</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Thảo luận về các vấn đề mới và dnahf thời gian dài suy nghĩ cùng cả nhóm trước khi ra quyết định</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn suy nghĩ, hoạch định kế hoạch cẩn thận với sụ chính xác cao</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form >
    <form class="quiz-box1">
        <h4 class="question">Khi cân nhắc công việc, bạn không để ý tới hoàn cảnh và mối quan hệ với người có liên quan</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn sẽ làm tốt nếu như có hứng thú</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn có thiên hướng trở thành trung tâm của nhóm</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn có thiên hướng tưởng tượng về những gì có thể xảy ra</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box1">
        <h4 class="question">Bạn thường chú trọng đến cảm xúc khi xem phim hay đối thoại</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
    <form class="quiz-box2">
        <h4 class="question">Bạn thường bắt đầu buổi họp với thời gian định trước</h4>
        <input name="option" type="radio" value="0" style="font-size: medium;"> 0
        <input name="option" type="radio" value="1" style="font-size: medium;"> 1
        <input name="option" type="radio" value="2" style="font-size: medium;"> 2
        <input name="option" type="radio" value="3" style="font-size: medium;"> 3
        <input name="option" type="radio" value="4" style="font-size: medium;"> 4
        <input name="option" type="radio" value="5" style="font-size: medium;"> 5
    </form>
</div>


{% endblock %}
