{% extends "layout.html" %}

{% block title %} MBTI test {% endblock %}

{% block main %}
<!-- progress bar-->
<div>
    <h1 style="font-size: 60px; font-family: Sofia, sans-serif; color: rgb(1, 1, 86); text-shadow: 1px 1px 1px #ababab;">MBTI test</h1>
    <h5 style="font-family: Sofia, sans-serif;">Do the test to discover what kind of personality you are</h5>
</div>
<div class="quiz-container">
    {% for i in range(32) %}
    {% if i % 2 == 0 %}
    <form class="quiz-box2">
        <h4 class="question">{{ questions[i] }}</h4>
        {% for option in options %}
        <input name="{{i + 1}}" type="radio" value="{{i + 1}}" style="font-size: medium;">{{option}}
        {% endfor %}
    </form>
    {% else %}
    <form class="quiz-box1">
        <h4 class="question">{{ questions[i] }}</h4>
        {% for option in options %}
        <input name="{{i + 1}}" type="radio" value="{{i + 1}}" style="font-size: medium;">{{option}}
        {% endfor %}
    </form>
    {% endif %}
    {% endfor %}
</div>
<div>
    <form action="/test" method="post" class="handlee-regular">
        <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
</div>

{% endblock %}
